<div class="container">
<h2>Edit Profile </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %>
    <div class="input-group" >
      <div class="input-group-addon" >
      <span class="rubix-icon icon-fontello-mail" > </span>
    </div>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %>
    <div class="input-group" >
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      <i>(leave blank if you don't want to change it)</i>
      <div class="input-group-addon" >
        <span class="rubix-icon icon-fontello-key" >
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <div class="input-group" >
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"  %>
      <i>(leave blank if you don't want to change it)</i>
      <div class="input-group-addon" >
        <span class="rubix-icon icon-fontello-key">
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
    <div class="input-group" >
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      <div class="input-group-addon" >
        <span class="rubix-icon icon-fontello-key" >
        </span>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
